<!--suppress ALL -->
<footer class="text-black">
    <div class="container">
        <div class="row">
            <div class="w-75 float-left">
                <h5>Made by</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">
                    Stefan Mitrevski, 195091
                </p>
            </div>
            <div class="w-25 float-righ text-right">
                <h5>Settings</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-50">
                <ul class="list-unstyled" th:if="${activeUser != null}">
                    <li class="nav-item">
                        <a class="btn btn-sm btn-dark ml-1 fixedButtonSize"
                           th:href="@{'/logout'}">
                            <i class="fa fa-shopping-cart">Logout</i>
                        </a>
                        <a class="btn btn-sm btn-dark ml-1 fixedButtonSize"
                           th:href="@{'/register'}">
                            <i class="fa fa-shopping-cart">Register</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>