<!--suppress ALL -->
<header>
    <nav class="navbar navbar-expand-md bg-dark">
        <div class="container">
            <a class="navbar-brand" th:href="@{'/timeline'}">DATING APP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navBarsExampleDefault" aria-controls="navBarsExampleDefault"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse justify-content-end" id="navBarsExampleDefault">
                <ul class="nav nav-tabs m-auto">
                    <li class="nav-item m-auto">
                        <a class="nav-link" th:href="@{'/timeline'}">TIMELINE</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link" th:href="@{'/users'}">USERS</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link" th:href="@{'/users/interested'}">INTERESTED</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link" th:href="@{'/users/likedBy'}">LIKES</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link" th:href="@{'/users/matches'}">MATCHES</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a id="userProfileLink" class="text-decoration-none"
                           th:if="${activeUser != null}"
                           th:href="@{'/timeline/profile/{username}'
                           (username=${activeUser.getUsername()})}">
                            <th:block th:text="${#request.getRemoteUser() != null}
                                                ? ${'Welcome, ' + activeUser.getName()}">
                            </th:block>
                        </a>
                        <th:block
                                th:text="${#request.getRemoteUser() == null}
                                ? ${'Welcome, stranger!'}">
                        </th:block>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>