<div xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center" style="height:30px;margin-top:-5%">
        <div class="container">
            <h3 class="jumbotron-heading">My Interests</h3>
        </div>
    </section>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12" th:if="${users.size() > 0}">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Sex</th>
                            <th scope="col">Bio</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${users}">
                            <td><a th:text="${user.getName()}"
                                   th:href="@{'/timeline/profile/{username}'
                                   (username=${user.getUsername()})}" class="btn btn-sm btn-link">
                            </a></td>
                            <td th:text="${user.getAge()}"></td>
                            <td th:text="${user.getSex()}"></td>
                            <td th:text="${user.getBio() != null}
                            ? ${user.getBio()} : 'No Bio'"></td>
                            <td class="text-right">
                                <form th:action="@{'/users/uninterested/{username}' (username=${user.getUsername()})}"
                                      th:method="DELETE">
                                    <button type="submit" class="btn btn-sm btn-danger"><i
                                            class="fa fa-trash">Uninterested</i></button>
                                </form>
                                <form th:if="${activeUser.getLikes().contains(user)} == false"
                                      th:action="@{'/users/like/{username}' (username=${user.getUsername()})}"
                                      th:method="DELETE">
                                    <button type="submit" class="btn btn-sm btn-success"><i
                                            class="fa fa-trash">Like</i></button>
                                </form>
                                <form th:if="${activeUser.getLikes().contains(user)} == true"
                                      th:action="@{'/users/unlike/{username}' (username=${user.getUsername()})}"
                                      th:method="DELETE">
                                    <button type="submit" class="btn btn-sm btn-danger"><i
                                            class="fa fa-trash">Unlike</i></button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12" th:if="${users.size() == 0}">
                <h4 class="jumbotron-heading text-center">Your list is empty!</h4>
            </div>
        </div>
    </div>
</div>
