<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div class="row pt-2 pb-1 bg-warning">
    <div class="container align-middle">
        <h3 class="jumbotron-heading text-center font-weight-bolder"
            th:text="${user.getNameAndSurname() + '''s Timeline'}"></h3>
    </div>
</div>
<div class="text-white mt-2 pt-1">
    <h5 class="jumbotron-heading text-center font-weight-bolder" th:text="${'Bio: ' + user.getBio()}"></h5>
</div>
<div class="text-center" th:if="${!activeUser.equals(user)}">
    <hr>
    <form th:if="${activeUser.getInterestedIn().contains(user)} == false"
          th:action="@{'/users/interested/{username}' (username=${user.getUsername()})}"
          th:method="PUT">
        <button type="submit" class="btn btn-sm btn-outline-success">
            <i class="fa fa-trash">Interested</i></button>
    </form>
    <form th:if="${activeUser.getInterestedIn().contains(user)} == true"
          th:action="@{'/users/uninterested/{username}' (username=${user.getUsername()})}"
          th:method="DELETE">
        <button type="submit" class="btn btn-sm btn-outline-danger">
            <i class="fa fa-trash">Uninterested</i></button>
    </form>
    <hr>
</div>

<div class="container mb-4 main-container">
    <div class="col-12 mt-3" th:if="${posts.size() > 0}" th:each="post : ${posts}">
        <div class="card border-warning">
            <div class="card-header bg-secondary">
                <a th:text="${post.getUser().getNameAndSurname()}"
                   th:href="@{'/timeline/profile/{username}' (username=${post.getUser().getUsername()})}"
                   class="text-decoration-none"></a></div>
            <div class="card-body">
                <div class="card-text" th:text="${post.getContent()}"></div>
            </div>
            <div class="card-footer bg-dark text-white">
                <div class="row">
                    <div class="col-md-5 mt-2" th:text="${post.getFormattedDate()}"></div>
                    <div class="col-md-6 row justify-content-end">
                        <form th:if="${post.getUser().equals(activeUser)} == true"
                              th:action="@{'/timeline/delete/{id}' (id=${post.getId()})}"
                              th:method="DELETE" class="d-inline w-auto">
                            <button type="submit" class="btn btn-sm btn-outline-primary">
                                <i class="fa fa-trash">Delete</i></button>
                        </form>
                        <form th:if="${post.getLikes().contains(activeUser)} == false"
                              th:action="@{'/timeline/like/{id}' (id=${post.getId()})}"
                              th:method="PUT" class="d-inline w-auto">
                            <button type="submit" class="btn btn-sm btn-outline-success">
                                <i class="fa fa-trash">Like</i></button>
                        </form>
                        <form th:if="${post.getLikes().contains(activeUser)} == true"
                              th:action="@{'/timeline/unlike/{id}' (id=${post.getId()})}"
                              th:method="DELETE" class="d-inline w-auto">
                            <button type="submit" class="btn btn-sm btn-outline-danger">
                                <i class="fa fa-trash">Unlike</i></button>
                        </form>
                    </div>
                    <div class="col-md-auto row">
                        <span class="likes" th:text="${'Likes:' + post.getLikes().size()}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 pt-5" th:if="${posts.size() == 0}">
            <h4 class="jumbotron-heading text-center text-white">There are no posts from this user yet, or there are
                none
                matching your
                filter!</h4>
        </div>
    </div>
</div>
</html>
