<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<body>
<div class="row pt-2 pb-2 bg-warning">
    <div class="container align-middle">
        <h3 class="jumbotron-heading text-center font-weight-bolder">REGISTER</h3>
    </div>
</div>
<div class="container main-container mt-4 text-white">
    <form class="form-signin mt-xl-5" th:method="POST" th:action="@{'/register'}">
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control"
                   placeholder="Username" required autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control"
                   placeholder="Password" required>
        </p>
        <p>
            <label for="repeatedPassword" class="sr-only">Repeat Password</label>
            <input type="password" id="repeatedPassword" name="repeatedPassword" class="form-control"
                   placeholder="Repeat Password" required>
        </p>
        <p>
            <label for="name" class="sr-only">Name</label>
            <input type="text" id="name" name="name" class="form-control"
                   placeholder="Name" required>
        </p>
        <p>
            <label for="surname" class="sr-only">Surname</label>
            <input type="text" id="surname" name="surname" class="form-control"
                   placeholder="Surname" required>
        </p>
        <p>
            <label for="age" class="sr-only">Age</label>
            <input type="text" id="age" name="age" class="form-control"
                   placeholder="Age" required>
        </p>
        <p>
            <label for="city" class="sr-only">City</label>
            <input type="text" id="city" name="city" class="form-control"
                   placeholder="City" required>
        </p>
        <p>
            <label for="phoneNumber" class="sr-only">Phone number</label>
            <input type="text" id="phoneNumber" name="phoneNumber" class="form-control"
                   placeholder="Phone number" required>
        </p>
        <p>
            <label for="bio">Bio</label>
            <textarea id="bio" name="bio" class="form-control" style="height: 100px"></textarea>
        </p>
        <div class="input-group-append btn-group btn-group-lg w-100" role="group">
            <input class="btn-check" name="sex" type="radio" id="MALE" value="MALE" th:checked="true">
            <label class="btn btn-outline-warning shadow-none" for="MALE">Male</label>
            <input class="btn-check" name="sex" type="radio" id="FEMALE" value="FEMALE">
            <label class="btn btn-outline-warning shadow-none" for="FEMALE">Female</label>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="input-group-append btn-group btn-group-lg w-100" role="group">
                <input class="btn-check" name="role" type="radio" id="ROLE_USER" value="ROLE_USER">
                <label class="btn btn-outline-warning shadow-none" for="ROLE_USER">User</label>
                <input class="btn-check" name="role" type="radio" id="ROLE_ADMIN" value="ROLE_ADMIN">
                <label class="btn btn-outline-warning shadow-none" for="ROLE_ADMIN">Admin</label>
            </div>
        </div>
        <div class="container" th:if="${hasError}">
            <h4 th:text="${error}" class="text-danger text-center"></h4>
        </div>
        <button class="btn btn-lg d-block w-100 btn-outline-warning mt-2" type="submit">Sign up</button>
    </form>
    <a th:href="@{'/login'}" class="btn btn-lg d-block btn-light w-auto mb-2 pb-2 mt-1 button-hover">
        Already have an account? Login here!</a>
</div>
</body>
</html>