<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="row pt-2 pb-1 bg-warning">
    <div class="container align-middle">
        <h3 class="jumbotron-heading text-center font-weight-bolder">USERS</h3>
    </div>
</div>
<div class="container mb-4 main-container">
    <div class="row">
        <div class="container align-middle mt-3 mb-3">
            <form class="align-content-center" th:action="@{'/users'}">
                <div class="input-group input-group-sm">
                    <input type="text" id="keyword" name="keyword" th:value="${keyword != null} ? ${keyword} : null"
                           class="form-control shadow-none" aria-label="Small"
                           placeholder="Name/Surname">
                    <input type="text" id="age" name="age" th:value="${age != null} ? ${age} : null"
                           class="form-control shadow-none" aria-label="Small"
                           placeholder="Age">
                    <input type="text" id="city" name="city" th:value="${city != null} ? ${city} : null"
                           class="form-control shadow-none" aria-label="Small"
                           placeholder="City">
                    <input name="sex" type="radio" id="MALE" value="MALE"
                           th:checked="${sex != null && sex.equals('MALE')}" class="btn-check">
                    <label class="btn btn-outline-warning shadow-none" for="MALE">Male</label>
                    <input name="sex" type="radio" id="FEMALE" value="FEMALE"
                           th:checked="${sex != null && sex.equals('FEMALE')}" class="btn-check">
                    <label class="btn btn-outline-warning shadow-none" for="FEMALE">Female</label>
                    <input name="sex" type="radio" id="ALL" value="ALL"
                           th:checked="${sex == null || sex.equals('ALL')}" class="btn-check">
                    <label class="btn btn-outline-warning shadow-none" for="ALL">All</label>
                    <div class="input-group-append">
                        <div class="btn-group btn-group-sm">
                            <button type="submit" class="btn btn-danger w-auto">
                                <i class="fa fa-search">Filter</i>
                            </button>
                            <a th:href="@{'/users?keyword=&age=&city=&sex=ALL'}" class="btn btn-secondary w-auto">
                                <i class="fa fa-search">Clear</i>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12" th:if="${users.size() > 0}">
            <table class="table table-hover">
                <thead class="bg-secondary text-warning">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Sex</th>
                    <th scope="col">Bio</th>
                    <th scope="col">Options</th>
                </tr>
                </thead>
                <tbody>
                <tr class="bg-dark text-white" th:each="user : ${users}">
                    <td><a th:text="${user.getNameAndSurname()}"
                           th:href="@{'/timeline/profile/{username}' (username=${user.getUsername()})}"
                           class="text-decoration-none"></a></td>
                    <td th:text="${user.getAge()}"></td>
                    <td th:text="${user.getSex()}"></td>
                    <td th:text="${user.getBio()}"></td>
                    <td class="row justify-content-center">
                        <form th:if="${activeUser.getInterestedIn().contains(user)} == true"
                              th:action="@{'/users/uninterested/{username}' (username=${user.getUsername()})}"
                              th:method="DELETE" class="d-inline w-auto">
                            <button type="submit" class="btn btn-sm btn-outline-danger">
                                <i class="fa fa-trash">Uninterested</i></button>
                        </form>
                        <form th:if="${activeUser.getInterestedIn().contains(user)} == false"
                              th:action="@{'/users/interested/{username}' (username=${user.getUsername()})}"
                              th:method="PUT" class="d-inline w-auto">
                            <button type="submit" class="btn btn-sm btn-outline-success">
                                <i class="fa fa-trash">Interested</i></button>
                        </form>
                        <form th:if="${activeUser.getLikes().contains(user)} == false"
                              th:action="@{'/users/like/{username}' (username=${user.getUsername()})}"
                              th:method="PUT" class="d-inline w-auto">
                            <button type="submit" class="btn btn-sm btn-outline-success">
                                <i class="fa fa-trash">Like</i></button>
                        </form>
                        <form th:if="${activeUser.getLikes().contains(user)} == true"
                              th:action="@{'/users/unlike/{username}' (username=${user.getUsername()})}"
                              th:method="DELETE" class="d-inline w-auto">
                            <button type="submit" class="btn btn-sm btn-outline-danger">
                                <i class="fa fa-trash">Unlike</i></button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 pt-5" th:if="${users.size() == 0}">
            <h4 class="jumbotron-heading text-center text-white">Your list is empty!</h4>
        </div>
    </div>
</div>
</html>
